name: CI/CD Pipeline

on:
  push:
    branches:
      - master
      - develop
      - 'feature/*'
      - 'release/*'
      - 'hotfix/*'
  pull_request:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      # Checkout do código
      - name: Checkout code
        uses: actions/checkout@v2

      # Listar todos os arquivos para verificar a estrutura do repositório
      - name: List all files in the repo
        run: |
          ls -la

      # Configuração do Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      # Instalar dependências e rodar testes
      - name: Install dependencies and test
        run: |
          npm install
          npm run test

  dockerize-frontend:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      # Checkout do código novamente
      - name: Checkout code
        uses: actions/checkout@v2

      # Passo 1: Listar arquivos após o checkout
      - name: List files to debug
        run: |
          ls -la

      # Passo 2: Construir a imagem Docker
      - name: Build Docker image for Next.js
        run: |
          # Verificando se o diretório ecommerce está presente
          ls -la ./ecommerce
          docker build --pull --rm -f "Dockerfile" -t ecommerce:latest 

      # Login no DockerHub (caso precise)
      - name: Docker login
        run: |
          echo ${{ secrets.DOCKER_USERNAME }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      # Push da imagem Docker
      - name: Push Docker image to DockerHub
        run: |
          docker tag my-frontend ${{ secrets.DOCKER_USERNAME }}/my-frontend:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/my-frontend:latest
